$brand-first: rgba(54,74,101,1);
$brand-second: rgba(49,162,255,1);
$brand-third: rgba(65,91,156,1);

$highlight: rgba(244,85,103,1);

$complement-first: rgba(148,99,214,1);
$complement-second: rgba(6,201,164,1);
$complement-third: rgba(255,252,156,1);

$gray-first: rgba(244,245,248,1);
$gray-second: rgba(232,235,241,1);
$gray-third: rgba(153,160,170,1);

$black: rgba(64,64,64,1);
$white: rgba(255,255,255,1);

$danger: rgba(215,105,100,1);
$alert: rgba(245,175,80,1);
$success: rgba(155,195,180,1);
