blockquote {
  padding: 0 0 0 32px;
  position: relative;
  font-size: initial;
  border: 0;
  &:before {
    background-image: url(https://s3.amazonaws.com/rd-marketing-objects/rdstation/secondary-icons/quote.svg);
    background-repeat: no-repeat;
    content: "";
    height: 26px;
    left: -8px;
    position: absolute;
    top: 4px;
    width: 28px;
  }
  footer {
    text-align: right;
    p {
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 4px;
      .author { font-weight: 800; }
    }
  }
}
