/* BRAND HEADER */
.brand_header {
  background-color: $brand-gray;
  border-bottom: none;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 100vw;
  padding: 20px 0;
  position: relative;
  left: calc(50% - 50vw);
  img {
    height: 26px !important;
    width: 290px !important;
    display: inline-block;
    object-fit: contain;
    object-position: center center;
    @media screen and (max-width: 760px) {
      padding: 0;
    }
  }
}
