.button, #cf_submit {
  background-color: $brand-highlight;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px !important;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0 !important;
  transition: all .4s;
  text-shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
  display: block;
  cursor: pointer;
  height: auto;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  white-space: normal;
  vertical-align: middle;
  padding: 15px 20px 17px 20px;
  -webkit-appearance: none;
  &:hover, &:focus, &:active {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15) !important;
    color: #FFFFFF !important;
    border: 0 !important;
    text-decoration: none !important;
  }
  &.mobile_fixed {
    position: fixed;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    &.hidden {
      opacity: 0;
      z-index: -1;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
