.callpage-section {
    padding: 50px 44px;
}
.callpage-section h2 {
    position: relative;
    min-height: 80px;
    padding-left: 100px;
    padding-top: 10px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #d82f53;
    margin-bottom: 40px;
}
.callpage-section h2:before {
    content:"";
    position: absolute;
    background-image: url(https://s3.amazonaws.com/rd-marketing-objects/lp-mkt/phone.svg);
    background-size: cover;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
}
.callpage-section .card {
    padding: 10px 30px 30px;
    margin: 40px 0;
}
.callpage-section .lead {
    margin-top: 24px;
}
.callpage-section .lead .number {
    font-weight: bold;
    color: #d82f53;
}
.callpage-section .consultant {
    padding: 10px 30px 30px;
    margin-top: 40px;
}
.callpage-section ul li:before {
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 12px;
    border-left: 3px solid #dc4d6d;
    border-top: 3px solid #d83054;
    border-top-left-radius: 3px;
    transform: rotate(-135deg);
}
@media screen and (max-width: 992px) {
  .callpage-section {
      padding: 0px;
  }
}

.callpage-section .consultant {
    text-align: center;
    margin-top: 40px;
}
.callpage-section .consultant .circle {
    width: 160px !important;
    padding-bottom: 160px;
    border: 2px solid #e3e3e8;
    margin: 0 auto 20px;
}
