#conversion {
  border-radius: 0 !important;
  box-shadow: 0 0 30px rgba(0,0,0,0.05);
  border: 1px solid darken($brand-gray, 1%);
  header {
    border-radius: 0;
    margin: 0 -15px;
    padding: 30px 30px 20px;
  }
  section {
    padding: 30px 15px 20px;
  }
  #form-spam {
    line-height: 24px;
  }
  .notice a {
    font-size: 12px;
    text-decoration: underline;
  }
}
