body {
  overflow-x: hidden;
}
ol li:before {
  background-color: #c71f42 !important;
}
img.logord {
    margin-top: 15px !important;
}
#container > section {
    padding-bottom: 0px !important;
    overflow: hidden;
}
.clearfix {
  background-color: #f0f0f5 !important;
}
.brand-header,
.card {
  background-color: #ffffff;
}
.header-centered h1,
.header-centered h1:after,
.header-centered h2,
.header-centered p.lead,
ol li:before,
.social-proof p {
  color: #f5f5f5 !important;
  text-decoration: none !important;
}
h1 {
  color: #d82e52 !important;
  margin-bottom: 15px !important;
}
.header-centered h1:after,
.social-proof {
  background-color: #ef382d  !important; }

.header {
  background-position: -60px bottom !important;
  background-size: 220px !important;
}
.header h1 {
  text-align: left !important;
}
.header h1:after {
  content: none;
}
.card {
  border-radius: 2px !important;
}
.button {
  text-decoration: none !important;
}
.header .card {
  margin: 0 !important;
  padding: 30px !important;
}
.header .card p.lead {
    padding-left: 40px;
    padding-right: 0;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
}

.rel-offer [class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
}

.rel-offer [class^="col"]:after {
  content: "";
  background-image: url(//d335luupugsy2.cloudfront.net/cms%2Ffiles%2F2%2F1473186377arrow.svg);
  position: absolute;
  right: -14px;
  top: 50%;
  width: 26px;
  height: 17px;
  margin-top: -10px;
  background-repeat: no-repeat;
}
.related-horizontal {
    padding: 20px 0 32px !important;
}
.related-horizontal h1 {
    font-size: 20px !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
}
.related-horizontal h1:after {
    content: none;
}
.rel-offer [class^="col"]:last-child:after {
  content: none
}
.rel-offer h2 {
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    min-height: 24px !important;
    background-color: #f5f5f5;
    padding: 5px 5px 10px;
    border-radius: 2px;
    margin: -30px -20px 20px;
}
.rel-offer h3 {
    font-size: 18px !important;
    margin: 0px !important;
}
.rel-offer [class^="col"] img {
    max-height: 130px !important;
}
.offers-1 {
    padding-top: 0 !important;
}
.offers-2 {
    position: relative;
}

span.label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 0;
    display: block;
}

.full-width.copyright {
  background-color: #27B8C5  !important;
  text-align: center;
  padding: 22px 0 12px !important;
}

@media screen and (max-width: 992px) {
    .rel-offer [class^="col"]:after {
        content: "";
        background-image: url(https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F2%2F1473679548arrowd.svg);
        position: absolute;
        bottom: -37px;
        right: inherit;
        top: inherit;
        width: 17px !important;
        height: 26px !important;
        margin-top: -10px !important;
        background-repeat: no-repeat;
    }
    .rel-offer [class^="col"] {
        margin-bottom: 50px !important;
    }
    .rel-offer [class^="col"]:last-child {
        margin-bottom: 0 !important;
    }
}
@media screen and (min-width: 992px){
  .flex {
    display: flex;
    align-items: center;
  }
}
