.gray-bg {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: $gray-first;
    height: 100%;
    top: 0;
    width: 1440px;
    left: calc(50% - 720px);
  }
}
