$brand-first: rgba(65,91,156,1);
$brand-gray: rgba(244,245,248,1);
$brand-highlight: rgba(244,85,103,1);

$resource-main: rgba(53, 93, 183, 1);
$resource-secondary: rgba(29, 77, 171, 1);
$resource-highlight: rgba(244, 24, 136, 1);

$black: rgba(64,64,64,1);
$white: rgba(255,255,255,1);
