@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

*:not(i) {
  font-family: 'Open Sans', sans-serif !important;
  color: $black;
  font-size: 16px;
  line-height: 24px;
}

.lead {
  font-size: 18px;
}

h2 {
  font-size: 18px;
  margin: 24px 0 16px;
}

ul {
  padding: 0 0px 0 20px !important;
  margin-top: 8px !important;
  li {
    list-style-type: disc !important;
    margin-bottom: 8px !important;
  }
}
